<!DOCTYPE html>
<% layout('layouts/boilerplate') %>

<form action="/campgrounds/<%= campgrounds._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="campground[title]"
      value="<%= campgrounds.title %> "
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="campground[location]"
      value="<%= campgrounds.location %> "
    />
  </div>
  <button>Update Campground</button>
</form>
<footer>
  <a href="/campgrounds/<%= campgrounds.id %> ">Back to Campground</a>
</footer>
